

.hero-container {
   background: url('/images/travel.jpg') center center/cover no-repeat  ; 
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: rgb(255, 238, 0);
  font-size: 90px;
  margin-left: 100px;
  font-family: fantasy;
 font-style: inherit;
}
.hero-container > span{
  color: rgb(224, 218, 147);
}
.hero-container > p {
  margin-top: 8px;
  color: rgb(255, 55, 55);
  font-size: 42px;
  font-family: fantasy;
  font-style: initial;
}

.hero-container .date {
  justify-content: left;
  padding: 1rem;
  background-color: rgb(8, 255, 173);
  color:rgb(0, 0, 0);

}

.hero-btns {
  font-size: 60px;
  margin-top: 200px;
}

.hero-btns .btn {
  margin: 10px;
  color: black;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -150px;
    
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
    
  }

  .hero-container > p {
    font-size: 30px;
    
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
.social-icon-link {
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
padding: 50px;
}

.social-logo {
  color: rgb(2, 2, 2);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
label {
  display: block;
  color: rgb(255, 255, 255);
  font: 2rem 'Fira Sans', sans-serif;
}

input,
label {
  
  margin: .4rem 0;
  padding: 20px;
}
.flex-form input[type="submit"] {
  background: #03b8ff;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .flex-form > * {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  header nav li{
    margin: 0 10px;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }
}